.App {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

body {
  background-image: url("https://wallpapers.com/images/hd/poker-table-green-fabric-ehvbvg2v8010o3sx.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  font-size: 20px;
  font-weight: bold;
  background: red;
  color: white;
  width: 200px;
  height: 50px;
  border: white 3px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

p {
  color: white;
  font-weight: bold;
  font-size: 30px;
}




